<div class="container">

	<div class="row">
    	<h3>Consulta de Pedidos</h3>
	</div>

	<div class="row">
	    <hr/>
	</div>

	<div class="row">
	    <form>	    
	        <div class="row" ng-if="pesquisaPedidoService.erros && pesquisaPedidoService.erros.length !== 0">
	            <div class="col-md-12">
	                <div class="alert alert-danger">
	                    <strong>{{ mensagens.informacao_pesquisa }}</strong>
	                    <ul>
	                        <li ng-repeat="mensagem in pesquisaPedidoService.erros">{{ mensagem }}</li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	         <div class="row" ng-if="pesquisaPedidoService.excluiu">
	            <div class="col-md-12">
	                <div class="alert alert-success">
	                    {{ mensagens.exclusao_sucesso }}	                    
	                </div>
	            </div>
	        </div>	         

			<div class="row">
                <fieldset class="form-group col-md-2">
                   <label for="data-pedido">Data do pedido:</label>
                   <p class="input-group input-group-sm">
	                <input id="data-pedido" type="text" class="form-control" 
	                		uib-datepicker-popup ng-model="pesquisaPedidoService.filtros.datapedido" 
	                		is-open="datepickersAbertos.datapedido" 
	                		ng-click="datepickersAbertos.datapedido = !datepickersAbertos.datapedido" />
	                <span class="input-group-btn">
	               		<button type="button" class="btn btn-default" 
	               		ng-click="datepickersAbertos.datapedido = !datepickersAbertos.datapedido">
	               		<i class="glyphicon glyphicon-calendar"></i></button>
	             	</span>
            		</p>
                </fieldset>
                 <fieldset class="form-group col-md-2">
                   <label for="numero-pedido">Número do pedido:</label>
                   <p class="input-group input-group-sm">
	                <input id="numero-pedido" type="number" class="form-control"
	                		ng-model="pesquisaPedidoService.filtros.numeropedido"/>	               
            		</p>
                </fieldset>
                <fieldset class="form-group col-md-3">
                    <label for="filtro-cliente">Cliente:</label>
                    <p class="input-group input-group-sm">
                     <select style="width : 250px" ng-model="pesquisaPedidoService.filtros.cliente"
                      class="form-control"
 				      ng-options="item.nome for item in pesquisaPedidoService.listaClientes">
 				    	<option value="">Todos</option>
					</select>
					</p>
                </fieldset> 
            </div>
			
            <div class="row">
                <fieldset class="col-md-9">
                    <div class="form-group">
                        <button id="btn-pesquisar" class="btn btn-primary" type="button" 
                        		ng-click="pesquisaPedidoService.pesquisar()">
                        		<i class="glyphicon glyphicon-search"></i> Pesquisar</button>
                        <a id="btn-limpar-resultado" class="btn btn-default" type="button" 
                        		ng-click="pesquisaPedidoService.limpar()">
                        		<i class="glyphicon glyphicon-erase"></i> Limpar resultado</a>
                        <a id="btn-criar-cliente" class="btn btn-default" type="button" href="#/adicionar">
                        		<i class="glyphicon glyphicon-plus"></i> Adicionar Pedido</a>    
					</div>	
                </fieldset>  
            </div>
        </form>
    </div>
    
    <div class="row">
        <hr/>
    </div>
    
    <div class="row" ng-if="pesquisaPedidoService.nenhumRegistroEncontrado">
        <div class="col-md-12">
            <div class="alert alert-warning">
             	{{ mensagens.nenhum_registro_encontrado }}
            </div>
        </div>
    </div>
    
    <div class="row pre-scrollable">
        <table class="table table-condensed" ng-if="pesquisaPedidoService.resultadoPesquisa.length > 0">
            <thead>
                <tr class="borda-esquerda-tabela borda-direita-tabela">
                    <th class="text-center">Número</th>
                    <th class="text-center borda-direita-tabela">Data</th>                 
                    <th class="text-center borda-direita-tabela">Cliente</th>
                    <th class="text-center borda-direita-tabela">Valor</th>
                    <th class="text-center borda-direita-tabela">Ações</th>           
                </tr>
            </thead>

            <tbody ng-repeat="item in pesquisaPedidoService.resultadoPesquisa">
                <tr class="text-center borda-inferior-tabela borda-esquerda-tabela borda-direita-tabela"
                 ng-class="{success: $first}">
                    <td align="right">{{item.id}}</td>
                    <td align="center">{{item.dataFormatada}}</td>
                    <td align="left">{{item.cliente.id}}-{{item.cliente.nome}}</td>
                    <td align="left">R$ {{item.valorTotal | number : 2}}</td>
                    <td>
                    <a id="btn-editar" class="btn btn-warning" type="button" href="#/editar/{{item.id}}">                     
                        		<i class="glyphicon glyphicon-edit"></i></a> 
                     <a id="btn-excluir" class="btn btn-danger" type="button"
                     ng-click="pesquisaPedidoService.confirmarExclusao(item.id)">                     
                        		<i class="glyphicon glyphicon-remove"></i></a>
					  <a id="btn-lanches" class="btn btn-info" type="button"
                     ng-click="abrirModalLanches(pesquisaPedidoService,item.id)">                     
                        		<i class="glyphicon glyphicon-th-list"></i></a> 
                    </td>                
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="row">
	    <hr/>
	</div>
</div>