<div class="container">
    <h3 ng-if="alterando === true">Edição de Pedido</h3>
    <h3 ng-if="alterando === false">Criação de Pedido</h3>

    <div class="row">
	    <hr/>
	</div>
    
    <form id="form-atendimento">
        <div class="row" ng-if="edicaoPedidoService.erros && edicaoPedidoService.erros.length !== 0">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <strong>{{ mensagens.informacao_pesquisa }}</strong>
                    <ul>
                        <li ng-repeat="mensagem in edicaoPedidoService.erros">{{ mensagem }}</li>
                    </ul>
                </div>
            </div>
        </div>
           
        <div class="row" ng-if="salvoComSucesso">
            <div class="col-md-12">
                <div class="alert alert-success">
                    {{ mensagens.salvo_com_sucesso }}
                </div>
            </div>
        </div>
   
        <div class="row">
                <fieldset class="form-group col-md-2">
                   <label for="data-pedido">* Data do pedido:</label>
                   <p class="input-group input-group-sm">
	                <input id="data-pedido" type="text" class="form-control" 
	                		uib-datepicker-popup ng-model="pedido.datapedido" 
	                		is-open="datepickersAbertos.datapedido" 
	                		ng-click="datepickersAbertos.datapedido = !datepickersAbertos.datapedido" />
	                <span class="input-group-btn">
	               		<button type="button" class="btn btn-default" 
	               		ng-click="datepickersAbertos.datapedido = !datepickersAbertos.datapedido">
	               		<i class="glyphicon glyphicon-calendar"></i></button>
	             	</span>
            		</p>
                </fieldset>
                <fieldset class="form-group col-md-3">
                    <label for="filtro-cliente">* Cliente:</label>
                    <p class="input-group input-group-sm">
                     <select style="width : 250px" ng-model="pedido.cliente"
                      class="form-control"
 				      ng-options="item.nome for item in edicaoPedidoService.listaClientes">
 				    	<option value="">Selecione um cliente</option>
					</select>
					</p>
                </fieldset> 
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" type="button" 
                ng-click="salvar()">Salvar</button>
                <button class="btn btn-default" type="button" 
                ng-click="cancelar()">Cancelar/Voltar</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <fieldset class="form-group col-md-3">
                    <label for="edicao-promocao">Promoção:</label>
                    <p class="input-group input-group-sm">
                     <select style="width : 250px" ng-model="pedido.promocao"
                      class="form-control" ng-change="limparLanche()"
 				      ng-options="item.descricao for item in edicaoPedidoService.listaPromocoes">
 				    	<option value="">Promoções</option>
					</select>
					</p>
            </fieldset>
            <fieldset class="form-group col-md-3">
                    <label for="edicao-lanche">* Lanche:</label>
                    <p class="input-group input-group-sm">
                     <select style="width : 250px" ng-model="pedido.lanche"
                      class="form-control"
 				      ng-options="item.nome for item in edicaoPedidoService.listaLanches">
 				    	<option value="">Selecione um lanche</option>
					</select>
					</p>
            </fieldset>  
             <fieldset class="form-group col-md-2">
                   <label for="numero-pedido">* Qtd:</label>
                   <p class="input-group input-group-sm">
	                <input id="numero-pedido" type="number" class="form-control"
	                		ng-model="pedido.qtd"/>	               
            		</p>
                </fieldset>   
        </div> 
        <div class="row">
                <fieldset class="form-group col-md-6">
                   <label>* CAMPOS OBRIGATÓRIOS</label>
                </fieldset>
        </div> 
         
         <div class="row">
	         <fieldset class="form-group col-md-6">
	         <h4>Valor total -> R$ {{pedido.vltotal | number : 2}}</h4>
	         </fieldset>
         </div>
         
        <div class="row">        
            <fieldset class="form-group col-md-2">
                <button class="btn btn-info" type="button" 
                ng-click="adicionarLanche(pedido.lanche.id)">Adicionar Lanche</button>
            </fieldset>
        </div>
        
         <div class="row">
         <fieldset class="form-group col-md-6">
            <table class="table table-condensed" ng-if="pedido.listaLanchesSelecionados.length > 0">
            <thead>
                <tr class="borda-esquerda-tabela borda-direita-tabela">
                    <th class="text-center">Lanche</th>
                    <th class="text-center borda-direita-tabela">Qtd.</th>
                    <th class="text-center borda-direita-tabela">Valor Total</th>                 
                    <th class="text-center borda-direita-tabela">Ações</th>           
                </tr>
            </thead>

            <tbody ng-repeat="item in pedido.listaLanchesSelecionados">
                <tr class="text-center borda-inferior-tabela borda-esquerda-tabela borda-direita-tabela"
                 ng-class="{success: $first}">
                    <td align="left">{{item.nome}}</td>
                    <td align="center">{{item.qtd}}</td>
                    <td align="right">R$ {{item.valorTotal}}</td>
                    <td>
                     <a id="btn-excluir" class="btn btn-danger" type="button"
                     ng-click="removerLanche($index,item.valorTotal,item.qtd)">                     
                        <i class="glyphicon glyphicon-remove"></i></a>
                    </td>                
                </tr>
            </tbody>
        	</table>
          </fieldset>
        </div>
        
        <div class="row">
	    	<hr/>
		</div>
    </form>
    
</div>