<div class="modal-header">
   <h3 class="modal-title">Consulta de Pacientes</h3>
</div>
	
<div class="modal-body">

 <div class="row" ng-if="filtros.erros && filtros.erros.length !== 0">
	   <div class="col-md-12">
	       <div class="alert alert-danger">
	            <strong>{{ mensagens.preencha_informacoes_realizar_pesquisa }}</strong>
	               <ul>
	                  <li ng-repeat="mensagem in filtros.erros">{{ mensagem }}</li>
	               </ul>
	       </div>
	  </div>
 </div>
 
 <div class="row" ng-if="filtros.gravacaoNaoPermitida">
        <div class="col-md-12">
            <div class="alert alert-danger">
             	{{ mensagens.gravacao_nao_permitida }}
            </div>
        </div>
    </div>
	        
 <div class="row">
     <fieldset class="form-group col-md-6">
            <label for="filtro-paciente-nome">* Paciente(nome):</label>
            <p class="input-group input-group-sm">
	        <input ng-model="filtros.nome" style="width: 550px;"
	         		id="paciente-nome" type="text" class="form-control"/>	               
     		</p>
     </fieldset>

 	<fieldset class="form-group col-md-3">
          <label for="data-nascimento">* Data de nascimento:</label>
          <p class="input-group input-group-sm">
	      <input id="data-nascimento" type="text" class="form-control" 
	           		uib-datepicker-popup ng-model="filtros.datanascimento" 
	           		is-open="datepickersAbertos.atendimenotDN" 
	          		ng-click="datepickersAbertos.atendimenotDN = !datepickersAbertos.atendimenotDN" />
	      <span class="input-group-btn">
	       		<button type="button" class="btn btn-default" 
	       		ng-click="datepickersAbertos.atendimenotDN = !datepickersAbertos.atendimenotDN">
	       		<i class="glyphicon glyphicon-calendar"></i></button>
	      </span>
          </p>
	</fieldset>
</div>

 <div class="row">
       <fieldset class="col-md-12">
           <div>
           <button id="btn-pesquisar" class="btn btn-primary" type="button" 
             		ng-click="pesquisarPacientes()"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
           <a id="btn-limpar-resultado" class="btn btn-default" type="button" 
          		ng-click="limparPacientes()"><i class="glyphicon glyphicon-erase"></i> Limpar resultado</a>                        
       	   </div>
       </fieldset>
</div>

<div class="row">
        <table class="table table-condensed" ng-if="filtros.resultadoPesquisa.length > 0">
            <thead>
                <tr class="borda-esquerda-tabela borda-direita-tabela">
                	<th class="text-center borda-direita-tabela">Selecionar</th>
                    <th class="text-center borda-direita-tabela">Codigo</th>
                    <th class="text-center borda-direita-tabela">Paciente</th>        
                </tr>
            </thead>

            <tbody ng-repeat="item in filtros.resultadoPesquisa">
                <tr class="text-center borda-inferior-tabela borda-esquerda-tabela borda-direita-tabela" 
                	ng-class="{success: $first}">
                	<td style="text-align: center;vertical-align: middle;">
                     	<input ng-click="selecionarPaciente(item.codigo,item.nome)" type="radio" name="radiopaciente">                 		 
                 	</td>
                    <td align="right">{{item.codigo}}</td>
                    <td align="left">{{item.paciente}}</td>                                    
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="modal-footer">
   <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Confirmar</button>
   <button class="btn btn-warning" type="button" ng-click="$ctrl.cancelar()">Cancelar</button>
</div>