.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.vermelho {
    color: red;
}

.verde {
    color: #729fcf;
}

.logo {
    width: 130px;
    height: auto;
    margin-top: -11px;
}

body {
    padding-top: 70px;
}

.borda-direita-tabela {
    border-right: solid 1px #DDD;
}

.borda-esquerda-tabela {
    border-left: solid 1px #DDD;
}

.borda-topo-tabela {
    border-top: solid 1px #DDD;
}

.borda-inferior-tabela {
    border-bottom: solid 1px #DDD;
}
